<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <title>My Portfolio</title>
  <link rel="stylesheet" type="text/css" href="bootstrap-sass-3.3.5/assets/css/_bootstrap.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/modernizr.js"></script> 
  <script src="https://code.angularjs.org/1.2.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

</head>

<body ng-controller="PortfolioListController">
  <main class="wrap group">
    <aside class="sidebar">
     <div class="my-info">

      <img src="images/drunkenPirate_avatar.png" alt="drunken pirate" class="portfolio-image">
      <h1>Cap'n Seymour Butts</h1>
      <h2>Experienced pirate and leader of the salty seamen operating in the Carribean and South Seas.</h2>
      <div class="social group">
        <a href="#" class="dribbble">Dribbble</a>
        <a href="#" class="poopy">Poopy</a>
        <a href="#" class="facebook">Facebook</a>
        <a href="#" class="github">Github</a>
      </div>

      <div class="searchbar">
        <input ng-model="searchFor" size="30"/>
      </div>

    </div>
    <nav class="menus">

      <h3 class="work">Work</h3>
      <ul>
        <li><a href="#" class="current-menu-item">S.S. Pearl Necklace</a></li>
        <li><a href="#">The Sack of the Innocents</a></li>
        <li><a href="#">Pipe and First Mate</a></li>
      </ul>

      <h3 class="about">About</h3>
      <ul>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Experience</a></li>
        <li><a href="#">Testimonials</a></li>
      </ul>

      <h3 class="contact">Contact</h3>
      <ul>
        <li><a href="#">Address</a></li>
        <li><a href="#">Phone</a></li>
        <li><a href="#">Social Networks</a></li>
      </ul>

    </nav>
  </aside>

    <!-- inside the .content div -->
  <div class="content"> 

  <div class="container-fluid">

    <div class="col-sm-4">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading"> 
          <p></p>
        </div>
        <div class="panel-body">
          <input type="text" placeholder="title" size="25" ng-model="adding_portfolio.title" />
          <span class="portfolio-date">
            <input type="text" placeholder="yyyy/mm/dd" size="10" ng-model="adding_portfolio.date" />
          </span>       
          <textarea placeholder="description" rows="4" style="width:100%;" ng-model="adding_portfolio.description"></textarea>
          <input type="text" placeholder="short name" size="25" ng-model="adding_portfolio.name" />
          <input type="text" placeholder="image" size="25" ng-model="adding_portfolio.imageurl" />
          <p></p>
          <button ng-click="addPortfolio(adding_portfolio)" type="button" class="btn btn-success">Add Portfolio</button>
        </div>
      </div>
    </div>
  </div>  

    <div  class="col-sm-4" ng-repeat="portfolio in portfolios | filter:searchFor | orderBy:'date' " >
    <div class="panel panel-default panel-primary">
      <div class="panel-heading"> 
        {{ portfolio.title }} 
        <p class="portfolio-date">{{ portfolio.date }}</p>
      </div>
      <div class="panel-body">
        <p>{{ portfolio.description }}</p>
        <img class="img-responsive" ng-src="images/{{ portfolio.imageurl }}" />
      </div>
    </div>
    </div>
  </div>
</div>

</main>

</body>
</html>

